{#
This file is part of EC-CUBE

Copyright(c) LOCKON CO.,LTD. All Rights Reserved.

http://www.lockon.co.jp/

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}
{# {% set posts = getPosts() %} #}


<div class="slider-wrapper relative">
    <div class="slider slider-nav-circle slider-nav-large slider-nav-light slider-style-normal is-draggable flickity-enabled"
         data-flickity-options="{
            &quot;cellAlign&quot;: &quot;center&quot;,
            &quot;imagesLoaded&quot;: true,
            &quot;lazyLoad&quot;: 1,
            &quot;freeScroll&quot;: false,
            &quot;wrapAround&quot;: true,
            &quot;autoPlay&quot;: 3400,
            &quot;pauseAutoPlayOnHover&quot; : false,
            &quot;prevNextButtons&quot;: true,
            &quot;contain&quot; : true,
            &quot;adaptiveHeight&quot; : true,
            &quot;dragThreshold&quot; : 10,
            &quot;percentPosition&quot;: true,
            &quot;pageDots&quot;: true,
            &quot;rightToLeft&quot;: false,
            &quot;draggable&quot;: true,
            &quot;selectedAttraction&quot;: 0.1,
            &quot;parallax&quot; : 0,
            &quot;friction&quot;: 0.6        }" tabindex="0">


{#        <div class="flickity-viewport aaaa" style="height: 580px; touch-action: pan-y;">#}
{#            <div class="flickity-slider">#}
{#                #}
{#            </div>#}
{#        </div>#}
        <section class="section dark" id="section_130316766">
            <div class="bg section-bg fill bg-fill bg-loaded">
                <div class="effect-snow bg-effect fill no-click"></div>
            </div>
            <div class="section-content relative">
                <div class="row" id="row-597775920">
                    <div id="col-1111830892" class="col medium-10 small-12 large-8" data-animate="fadeInRight"
                         data-animated="true">
                        <div class="col-inner text-left">
                            <div id="text-1490003682" class="text">
                                <h1><span style="font-size: 150%;">New Products Microsoft Office </span></h1>
                                <h4 class="lead"><strong>DIGITALWEB WIKI MARKETPLACE</strong></h4>
                                <style>
                                    #text-1490003682 {
                                        font-size: 1rem;
                                        line-height: 1.8;
                                        text-align: left;
                                    }

                                    @media (min-width: 550px) {
                                        #text-1490003682 {
                                            font-size: 0.8rem;
                                            line-height: 1.95;
                                        }
                                    }

                                    @media (min-width: 850px) {
                                        #text-1490003682 {
                                            font-size: 1.05rem;
                                        }
                                    }
                                </style>
                            </div>
                            <a data-animate="flipInX" rel="noopener noreferrer"
                               href="https://digitalwebwiki.com/product-category/microsoft/" target="_blank"
                               class="button white box-shadow-3"
                               style="border-radius:99px;padding:5px 25px 5px 25px;" data-animated="true">
                                <span>Shop Now</span>
                                <i class="icon-gift"></i></a>
                        </div>
                        <style>
                            #col-1111830892 > .col-inner {
                                margin: -30px 0px 40px 0px;
                            }

                            @media (min-width: 550px) {
                                #col-1111830892 > .col-inner {
                                    margin: -30px 0px 40px 0px;
                                }
                            }
                        </style>
                    </div>
                    <style>
                        #row-597775920 > .col > .col-inner {
                            padding: 55px 0px 0px 0px;
                        }
                    </style>
                </div>
            </div>
            <style>
                #section_130316766 {
                    padding-top: 80px;
                    padding-bottom: 80px;
                    min-height: 450px;
                }

                #section_130316766 .section-bg.bg-loaded {
                    background-image: url(https://digitalwebwiki.com/wp-content/uploads/2023/05/Digitalwebwiki.jpg);
                }

                #section_130316766 .section-bg {
                    background-position: 46% 52%;
                }

                #section_130316766 .ux-shape-divider--top svg {
                    height: 150px;
                    --divider-top-width: 100%;
                }

                #section_130316766 .ux-shape-divider--bottom svg {
                    height: 150px;
                    --divider-width: 100%;
                }

                @media (min-width: 550px) {
                    #section_130316766 {
                        min-height: 500px;
                    }
                }

                @media (min-width: 850px) {
                    #section_130316766 {
                        min-height: 580px;
                    }
                }
            </style>
        </section>
        <section class="section dark" id="section_845034873">
            <div class="bg section-bg fill bg-fill bg-loaded">
                <div class="effect-snow bg-effect fill no-click"></div>
            </div>
            <div class="section-content relative">
                <div class="row align-center" id="row-1483731215">
                    <div id="col-298187383" class="col medium-10 small-12 large-8" data-animate="fadeInRight"
                         data-animated="true">
                        <div class="col-inner text-center">
                            <h1>
                                <span style="font-size: 150%;">We’ll create an award winning website for you</span>
                            </h1>
                            <p class="lead">DIGITALWEB WIKI</p>
                            <a data-animate="flipInX"
                               href="https://digitalwebwiki.com/demos__trashed/shop-demos__trashed/web-site/"
                               target="_self" class="button primary"
                               style="border-radius:99px;padding:5px 25px 5px 25px;" data-animated="true">
                                <span>Shop Now</span>
                                <i class="icon-gift"></i></a>
                        </div>
                    </div>
                    <style>
                        #row-1483731215 > .col > .col-inner {
                            padding: 55px 0px 0px 0px;
                        }
                    </style>
                </div>
            </div>
            <style>
                #section_845034873 {
                    padding-top: 80px;
                    padding-bottom: 80px;
                    min-height: 400px;
                }

                #section_845034873 .section-bg.bg-loaded {
                    background-image: url(https://digitalwebwiki.com/wp-content/uploads/2022/08/kobu-agency-4YMrFvN45L4-unsplash.jpg);
                }

                #section_845034873 .section-bg {
                    background-position: 58% 65%;
                }

                #section_845034873 .ux-shape-divider--top svg {
                    height: 150px;
                    --divider-top-width: 100%;
                }

                #section_845034873 .ux-shape-divider--bottom svg {
                    height: 150px;
                    --divider-width: 100%;
                }

                @media (min-width: 550px) {
                    #section_845034873 {
                        min-height: 500px;
                    }
                }

                @media (min-width: 850px) {
                    #section_845034873 {
                        min-height: 580px;
                    }
                }
            </style>
        </section>
{#        <button class="flickity-button flickity-prev-next-button previous" type="button" aria-label="Previous">#}
{#            <svg class="flickity-button-icon" viewBox="0 0 100 100">#}
{#                <path d="M 10,50 L 60,100 L 70,90 L 30,50  L 70,10 L 60,0 Z" class="arrow"></path>#}
{#            </svg>#}
{#        </button>#}
{#        <button class="flickity-button flickity-prev-next-button next" type="button" aria-label="Next">#}
{#            <svg class="flickity-button-icon" viewBox="0 0 100 100">#}
{#                <path d="M 10,50 L 60,100 L 70,90 L 30,50  L 70,10 L 60,0 Z" class="arrow"#}
{#                      transform="translate(100, 100) rotate(180) "></path>#}
{#            </svg>#}
{#        </button>#}
{#        <ol class="flickity-page-dots">#}
{#            <li class="dot" aria-label="Page dot 1"></li>#}
{#            <li class="dot" aria-label="Page dot 2"></li>#}
{#        </ol>#}
    </div>
    <div class="loading-spin dark large centered"></div>
</div>

<!-- banner切换效果 -->
{# <div class="slider swiper-container"> #}
{#    <ul class="swiper-wrapper"> #}
{#        <li class="swiper-slide"> #}
{#            <img src="{{ asset('assets/my/images/banner01.png') }}" alt=""> #}
{#            <div class="w1200"> #}
{#                <div class="slider-txt"> #}
{#                    <div class="title">Microsoft Office 2019</div> #}
{#                    <div class="sub-title">Microsoft 365/Office 2019/Windows 10 pro </div> #}
{#                    <a href="http://www.office-soft.jp/products/detail/1" class="btn"><span>ダウンロード版 の正規品をネット最安値で販売</span></a> #}
{#                </div> #}
{#            </div> #}
{#        </li> #}
{#        <li class="swiper-slide"> #}
{#            <img src="{{ asset('assets/my/images/banner01.png') }}" /> #}
{#            <div class="w1200"> #}
{#                <div class="slider-txt"> #}
{#                    <div class="title">Microsoft 365</div> #}
{#                    <div class="sub-title">Microsoft 365/Office 2019/Windows 10 pro </div> #}
{#                    <a href="http://www.office-soft.jp/products/detail/2" class="btn"><span>ダウンロード版 の正規品をネット最安値で販売</span></a> #}
{#                </div> #}
{#            </div> #}
{#        </li> #}
{#        <li class="swiper-slide"> #}
{#            <img src="{{ asset('assets/my/images/banner01.png') }}" /> #}
{#            <div class="w1200"> #}
{#                <div class="slider-txt"> #}
{#                    <div class="title">Windows 10 Pro</div> #}
{#                    <div class="sub-title">Microsoft 365/Office 2019/Windows 10 pro </div> #}
{#                    <a href="http://www.office-soft.jp/products/detail/3" class="btn"><span>ダウンロード版 の正規品をネット最安値で販売</span></a> #}
{#                </div> #}
{#            </div> #}
{#        </li> #}
{#    </ul> #}
{#    <div class="swiper-pagination"></div> #}
{#    <div class="arrow"> #}
{#        <div class="swiper-button-next"></div> #}
{#        <div class="swiper-button-prev"></div> #}
{#    </div> #}
{# </div> #}
{# <div class="product-ad"> #}
{#    {% for product in [{name: 'Microsoft Office 2021', link: '/products/list?category_id=7'}, {name: 'Microsoft Office 2016', link: '#'}, {name: 'Microsoft Office 2019', link: '/products/list?category_id=1'}, {name: 'Microsoft 365', link: '#'},{name: 'windows', link: '#'}] %} #}
{#    <a href="{{ product.link }}" class="product-item"> #}
{#        <div class="product-item__icon"> #}
{#            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" t="1668562317013" class="icon" viewBox="0 0 1024 1024" version="1.1" p-id="3085" width="46" height="46"><path d="M648.533333 1024h-3.413333l-546.133333-170.666667c-6.826667-3.413333-13.653333-10.24-10.24-20.48 0-10.24 6.826667-13.653333 17.066666-13.653333l559.786667 64.853333V143.36l-409.6 126.293333v430.08c0 6.826667-3.413333 13.653333-10.24 13.653334l-136.533333 68.266666c-6.826667 3.413333-10.24 3.413333-17.066667 0s-6.826667-10.24-6.826667-13.653333v-546.133333c0-6.826667 3.413333-13.653333 10.24-17.066667l529.066667-204.8h10.24l290.133333 68.266667c6.826667 3.413333 13.653333 10.24 13.653334 17.066666v819.2c0 6.826667-3.413333 13.653333-10.24 17.066667l-273.066667 102.4H648.533333zM283.306667 873.813333L648.533333 989.866667l256-95.573334V98.986667l-273.066666-64.853334-512 197.973334v505.173333l102.4-51.2V256c0-6.826667 3.413333-13.653333 13.653333-17.066667l443.733333-136.533333c6.826667 0 10.24 0 13.653334 3.413333 3.413333 3.413333 6.826667 6.826667 6.826666 13.653334v785.066666c0 3.413333-3.413333 10.24-6.826666 13.653334-3.413333 3.413333-6.826667 3.413333-13.653334 3.413333L283.306667 873.813333z" p-id="3086"/></svg> #}
{#        </div> #}
{#        <div class="product-item__content"> #}
{#            <div class="product-item__name">{{ product.name }}</div> #}
{#            <div class="product-item__link"> #}
{#                仕事を効率化する #}
{#                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" t="1668951655732" class="icon" viewBox="0 0 1024 1024" version="1.1" p-id="3893" width="32" height="32"><path d="M716.617 477.941L355.519 142.045c-14.661-13.091-37.097-12.05-50.488 2.341-13.389 14.392-12.811 36.845 1.306 50.527L639.633 504.95 305.797 828.643a36.097 36.097 0 0 0-9.874 34.718 36.098 36.098 0 0 0 25.137 25.907 36.093 36.093 0 0 0 35.004-8.81l361.099-350.122a36.056 36.056 0 0 0 10.981-26.294 36.052 36.052 0 0 0-11.527-26.063" p-id="3894" fill="#ffffff"/></svg> #}
{#            </div> #}
{#        </div> #}
{#    </a> #}
{#    {% endfor %} #}
{# </div> #}
<!-- 公告 -->
{# <div class="huadong"> #}
{#    <div class="huabox"> #}
{#        <div class="hdimg"><img src="{{ asset('assets/my/images/lingdang.png') }}"></div> #}
{#        <div class="notice_active"> #}
{#            <ul> #}
{#                <li class="notice_active_ch"> #}
{#                    <span>Microsoft Office 2019 買い切り型の永続ライセンス、1 回限り購入する個人や法人向けの最新バージョン。</span> #}
{#                </li> #}
{#                <li class="notice_active_ch"> #}
{#                    <span>Microsoft 365 最新バージョンのOffice アプリとインテリジェントなクラウド サービスをまとめたソリューション。</span> #}
{#                </li> #}
{#                <li class="notice_active_ch"> #}
{#                    <span>Windows 10 Pro 業界最安値！ダウンロード版（オンラインコード版）の販売！</span> #}
{#                </li> #}
{#            </ul> #}
{#            #}
{#        </div> #}
{#    </div> #}
{#    <script type="text/javascript"> #}
{#        function timer(opj) { #}
{#            $(opj).find('ul').animate({ #}
{#                marginTop: "-30px" #}
{#            }, 500, function() { #}
{#                $(this).css({ #}
{#                    marginTop: "1px" #}
{#                }).find("li:first").appendTo(this); #}
{#            }) #}
{#        } #}
{#        $(function() { #}
{#            var num = $('.notice_active').find('li').length; #}
{#            if (num > 1) { #}
{#                var time = setInterval('timer(".notice_active")', 3500); #}
{#                $('.gg_more a').mousemove(function() { #}
{#                    clearInterval(time); #}
{#                }).mouseout(function() { #}
{#                    time = setInterval('timer(".notice_active")', 3500); #}
{#                }); #}
{#            } #}

{#            $(".news_ck").click(function() { #}
{#                location.href = $(".notice_active .notice_active_ch").children(":input").val(); #}
{#            }) #}
{#        }); #}
{#    </script> #}
{# </div> #}

