{# This file is part of EC-CUBE Copyright(c) LOCKON CO.,LTD. All Rights
Reserved. http://www.lockon.co.jp/ For the full copyright and license
information, please view the LICENSE file that was distributed with this
source code. #}
<!-- 底部版权链接 -->
<div class="footer2">

	<div class="frdLink">
		<div class="frdLinkTit">Link Categories</div>
		<div class="frdLinks">
			<a href="{{ url('help_about') }}" target="_blank">当サイトについて</a> <a
				href="{{ url('help_tradelaw') }}" target="_blank">特定商取引法に基づく表記</a>
		</div>
		<div class="frdLinks">
			<a href="{{ url('help_privacy') }}" target="_blank">プライバシーポリシー</a> <a
				href="{{ url('contact') }}" target="_blank">お問い合わせ</a>
		</div>
		<div class="frdLinks"></div>
	</div>

	<div class="copyright">
		<div class="frdLink">
			<div class="frdLinks">Copyright &copy; office-soft all rights
				reserved.</div>
			<div class="frdLinks">
				このホームページに掲載のイラストおよびページレイアウト、文章の無断転載を禁じます。</div>
		</div>
	</div>
</div>


<div class="footer_ts">

	<div class="frdLinks">
		<a href="{{ url('help_about') }}" target="_blank">当サイトについて</a> <a
			href="{{ url('help_tradelaw') }}" target="_blank">特定商取引法に基づく表記</a>
	</div>
	<div class="frdLinks">
		<a href="{{ url('help_privacy') }}" target="_blank">プライバシーポリシー</a> <a
			href="{{ url('contact') }}" target="_blank">お問い合わせ</a>
	</div>

	<div class="copyright">
		<div class="frdLink">
			<div class="frdLinks">Copyright &copy; office-soft all rights
				reserved.</div>
			<div class="frdLinks">
				このホームページに掲載のイラストおよびページレイアウト、文章の無断転載を禁じます。</div>
		</div>
	</div>
</div>
