{# This file is part of EC-CUBE Copyright(c) LOCKON CO.,LTD. All Rights
Reserved. http://www.lockon.co.jp/ For the full copyright and license
information, please view the LICENSE file that was distributed with this
source code. #} {% extends 'product_detail_frame.twig' %} {% set body_class =
'product_page' %} {% block stylesheet %}
<style>
.slick-slider {
	margin-bottom: 30px;
}

.slick-dots {
	position: absolute;
	bottom: -45px;
	display: block;
	width: 100%;
	padding: 0;
	list-style: none;
	text-align: center;
}

.slick-dots li {
	position: relative;
	display: inline-block;
	width: 20px;
	height: 20px;
	margin: 0 5px;
	padding: 0;
	cursor: pointer;
}

.slick-dots li button {
	font-size: 0;
	line-height: 0;
	display: block;
	width: 20px;
	height: 20px;
	padding: 5px;
	cursor: pointer;
	color: transparent;
	border: 0;
	outline: none;
	background: transparent;
}

.slick-dots li button:hover, .slick-dots li button:focus {
	outline: none;
}

.slick-dots li button:hover:before, .slick-dots li button:focus:before {
	opacity: 1;
}

.slick-dots li button:before {
	content: " ";
	line-height: 20px;
	position: absolute;
	top: 0;
	left: 0;
	width: 12px;
	height: 12px;
	text-align: center;
	opacity: .25;
	background-color: black;
	border-radius: 50%;
}

.slick-dots li.slick-active button:before {
	opacity: .75;
	background-color: black;
}

.slick-dots li button.thumbnail img {
	width: 0;
	height: 0;
}

.item_visual {
	height: 450px;
	display: flex;
	justify-content: center;
	align-items: center;
	border: 1px solid #eee;
}

.item_visual .slide-item {
	height: 100%;
}

.item_visual .slide-item img {
	height: 100%;
	width: auto;
}
</style>
{% endblock %} {% block javascript %}
<script>
        eccube.classCategories = {{ class_categories_as_json(Product)|raw }};

        // 規格2に選択肢を割り当てる。
        function fnSetClassCategories(form, classcat_id2_selected) {
            var $form = $(form);
            var product_id = $form.find('input[name=product_id]').val();
            var $sele1 = $form.find('select[name=classcategory_id1]');
            var $sele2 = $form.find('select[name=classcategory_id2]');
            eccube.setClassCategories($form, product_id, $sele1, $sele2, classcat_id2_selected);
        }

        {% if form.classcategory_id2 is defined %}
        fnSetClassCategories(
            $('#form1'), {{ form.classcategory_id2.vars.value|json_encode|raw }}
        );
        {% elseif form.classcategory_id1 is defined %}
        eccube.checkStock($('#form1'), {{ Product.id }}, {{ form.classcategory_id1.vars.value|json_encode|raw }}, null);
        {% endif %}
    </script>
<script>
        $(function() {
            // bfcache無効化
            $(window).bind('pageshow', function(event) {
                if (event.originalEvent.persisted) {
                    location.reload(true);
                }
            });

	    /*

            $('.item_visual').slick({
                dots: false,
                arrows: false,
                responsive: [{
                    breakpoint: 768,
                    settings: {
                        dots: true
                    }
                }]
            });*/


            $('.slideThumb').on('click', function() {
                var index = $(this).attr('data-index');
                $('.item_visual').slick('slickGoTo', index, false);
            })
        });
    </script>
<script>
        $(function() {
            $('.add-cart').on('click', function(event) {
                {% if form.classcategory_id1 is defined %}
                // 規格1フォームの必須チェック
                if ($('#classcategory_id1').val() == '__unselected' || $('#classcategory_id1').val() == '') {
                    $('#classcategory_id1')[0].setCustomValidity('{{ '項目が選択されていません'|trans }}');
                    return true;
                } else {
                    $('#classcategory_id1')[0].setCustomValidity('');
                }
                {% endif %}

                {% if form.classcategory_id2 is defined %}
                // 規格2フォームの必須チェック
                if ($('#classcategory_id2').val() == '__unselected' || $('#classcategory_id2').val() == '') {
                    $('#classcategory_id2')[0].setCustomValidity('{{ '項目が選択されていません'|trans }}');
                    return true;
                } else {
                    $('#classcategory_id2')[0].setCustomValidity('');
                }
                {% endif %}

                // 個数フォームのチェック
                if ($('#quantity').val() < 1) {
                    $('#quantity')[0].setCustomValidity('{{ '1以上で入力してください。'|trans }}');
                    return true;
                } else {
                    $('#quantity')[0].setCustomValidity('');
                }

                event.preventDefault();
                $form = $('#form1');
		
                $.ajax({
                    url: $form.attr('action'),
                    type: $form.attr('method'),
                    data: $form.serialize(),
                    dataType: 'json',
                    beforeSend: function(xhr, settings) {
                        // Buttonを無効にする
                        $('.add-cart').prop('disabled', true);
                    }
                }).done(function(data) {
                    // レスポンス内のメッセージをalertで表示
		    /*
                    $.each(data.messages, function() {
                        $('#ec-modal-header').html(this);
                    });*/

		   window.location.href='{{ url('cart') }}';

                    // $('#ec-modal-checkbox').prop('checked', true);

                    // カートブロックを更新する
                    $.ajax({
                        url: "{{ url('block_cart') }}",
                        type: 'GET',
                        dataType: 'html'
                    }).done(function(html) {
                        $('.ec-headerRole__cart').html(html);
                    });
                }).fail(function(data) {
                    alert('{{ 'カートへの追加に失敗しました。'|trans }}');
                }).always(function(data) {
                    // Buttonを有効にする
                    $('.add-cart').prop('disabled', false);
                });
            });

	   
        });


	$(function(){  

　　　     $('#reviews').val('0');   
          $('#commentselect').change(function(){
	         // 使用零售价和普通价格切换
		 var price1='{{Product.getPrice01IncTaxMin|price}}';
		 var price2='{{Product.getPrice02IncTaxMin|price}}';
		 var price3='{{Product.getPrice01IncTaxMin}}';
		 var price4='{{Product.getPrice02IncTaxMin}}';
		 var value=$(this).val();
		 if(value=='0'){
		    $('#final_price').text(price1+'～'+price2);		
		    $('#reviews').val('0');
		 }else if(value=='1'){
                   $('#final_price').text(price1);
		   $('#reviews').val('1');

		 }else if(value=='2'){
		   $('#final_price').text(price2);
		   $('#reviews').val('2');

		 }else{
		  $('#final_price').text(price1+'～'+price2);	
		   $('#reviews').val('0');
		 
		 }
		 
	    });
       });  

$(function(){
 // $(".navegator").fixedScroll();
  $('.tab-main li').on('click',function(event){
    
	   $('.tab-main li').removeClass('current');
	   $(this).addClass('current');
   
  });

});






    </script>
{% endblock %} {% block main %}
<div class="container-fluid inner">
	<div id="main">

		<div id="main_middle">

			<!-- ▼item_detail▼ -->
			<div >
				<div id="shoppingbox">
					<meta itemprop="mpn" content="{{Product.id}}">
					<meta itemprop="brand" content="Office Pro Plus">
					<meta itemprop="sku" content="071026">
					<div class="route">
						<span itemscope=""
							itemtype="http://schema.org/BreadcrumbList"> 
							<span  itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
							<a
							href="/" itemprop="url"  itemprop="item" >
							
							<span itemprop="name">HOME</span>
							
							</a>
							<meta itemprop="position" content="1" />
							&gt; <span itemscope=""
							>

							    
							    {% for Category in ProductCategory.Category.path %}
												<a href="https://offisu-soft.com/products/list?category_id={{ Category.id}}"
								> 
								
													
												 {% endfor %}
								
								
								
								<span >
								                     {{ Product.name }}</span>
										
							</a>
						</span> {{ Product.name }}
						</span>
						</span>
					</div>
					<div class="left">
						<div class="preview">
							<dl>
								<dt>
									<div id="detail_image_box__item--1">


										{% for ProductImage in Product.ProductImage %}
										<div class="slide-item">
											<img itemprop="image" src="{{ asset(ProductImage, 'save_image') }}">
										</div>
										{% else %}
										<div class="slide-item">
											<img itemprop="image" src="{{ asset(''|no_image_product, 'save_image') }}" />
										</div>
										{% endfor %}



									</div>
								</dt>

							</dl>
						</div>

						<div class="preview_button">
							<dl>
								<dt>
									<style>
.sns {
	text-align: left
}

.sns>li {
	display: inline-block;
	vertical-align: top;
	margin: 10px 10px
}

.sns>li:first-child {
	margin-left: 0
}

.sns>li:last-child {
	margin-right: 0
}

.sns iframe {
	margin: 0 !important
}

@media screen and (max-width:200px) {
	.sns>li {
		width: 70px !important;
		margin: 10px 7px 10px 0
	}
}
</style>

									<div id="fb-root"></div>
									<script>(function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(d.getElementById(id))return;js=d.createElement(s);js.id=id;js.src="//connect.facebook.net/ja_JP/sdk.js#xfbml=1&version=v2.6";fjs.parentNode.insertBefore(js,fjs);}(document,'script','facebook-jssdk'));</script>
									<script src="https://apis.google.com/js/platform.js" async=""
										defer="">{lang: 'ja'}</script>
									<p id="detail_not_stock_box__description_detail"
										class="item_comment"></p>
								</dt>
							</dl>
						</div>
					</div>
					<div class="right">
						<section>
							<div class="rightlayout1">
								<h1 itemprop="name">{{ Product.name }}</h1>
							</div>
							<div class="rightlayout2">
								<ul>
									<li itemprop="description">{% if Product.freearea %}
										<div class="ec-productRole__description">{{
											include(template_from_string(Product.freearea)) }}</div> {% endif
										%}

									</li>
								</ul>
							</div>



							<div class="rightlayout3" itemprop="offers" itemscope itemtype="https://schema.org/AggregateOffer">
								<div class="price">
                                                                        <span itemprop="offerCount" style="display:none;">47</span>
									<span itemprop="priceCurrency" content="JPY"></span>
									{% if Product.hasProductClass -%} 
									{% if
									Product.getPrice02IncTaxMin == Product.getPrice02IncTaxMax %}
									<div class="ec-price">
										<span class="ec-price__price price02-default"  itemprop="lowPrice"  content="{{Product.getPrice02IncTaxMin}}">{{
											Product.getPrice02IncTaxMin|price }}</span> <span
											class="ec-price__tax">{{ '税込'|trans }}</span>
									</div>
									{% else %}
									<div class="ec-price">
										<span class="ec-price__price price02-default"  itemprop="lowPrice"  content="{{Product.getPrice02IncTaxMin}}" >{{
											Product.getPrice02IncTaxMin|price }} ～ {{
											Product.getPrice02IncTaxMax|price }}</span> <span
											class="ec-price__tax"  itemprop="highPrice"  content="{{Product.getPrice02IncTaxMax}}" >{{ '税込'|trans }}</span>
									</div>
									{% endif %} 
									
									{% else %}
									
									<!--添加评论时候优惠功能-->

									<div class="ec-productRole__price">
										{% if Product.hasProductClass -%} {% if
										Product.getPrice02IncTaxMin == Product.getPrice02IncTaxMax %}
										<div class="ec-price">
											<span class="ec-price__price price02-default"  itemprop="lowPrice"  content="{{Product.getPrice02IncTaxMin}}">{{
												Product.getPrice02IncTaxMin|price }}</span> <span
												class="ec-price__tax">{{ '税込'|trans }}</span>
										</div>
										{% else %}
										<div class="ec-price">
											<span class="ec-price__price price02-default"  itemprop="lowPrice"  content="{{Product.getPrice02IncTaxMin}}" >{{
												Product.getPrice02IncTaxMin|price }} ～ {{
												Product.getPrice02IncTaxMax|price }}</span> <span
												class="ec-price__tax" itemprop="highPrice"  content="{{Product.getPrice02IncTaxMax}}" >{{ '税込'|trans }}</span>
										</div>
										{% endif %} {% else %}
										<div class="ec-price" style="margin-top:10px;">
											<span style="color: #F00; font-size: 16px;">レビュー:届いたら「レビューを書く!」で500円引き!</span>
											<br> <span class="ec-price__price" id="final_price" itemprop="lowPrice"  content="{{Product.getPrice01IncTaxMin}}"  >{{
												Product.getPrice01IncTaxMin|price }}～{{
												Product.getPrice02IncTaxMin|price }}</span> <span
												class="ec-price__tax" itemprop="highPrice"  content="{{Product.getPrice02IncTaxMin}}">{{ '税込'|trans }}</span> 
											<select
												id="commentselect" name="commentselect" class="form-control"  style="height:40px;">
												<option value="0">選択してください</option>
												<option value="1">レビュー 書く</option>
												<option value="2">レビュー なし</option>
											</select>
										</div>
										{% endif %}
									</div>
									<!--添加评论时候优惠功能-->
									{% endif %} {# 商品コード #} {% if Product.code_min is not empty %}
									<div class="ec-productRole__code">
										{{ '商品コード'|trans }}： <span class="product-code-default">{{
											Product.code_min }}{% if Product.code_min != Product.code_max
											%} ～ {{ Product.code_max }}{% endif %}</span>
									</div>
									{% endif %} {# 関連カテゴリ #} {% if Product.ProductCategories is not
									empty %}
									<div class="ec-productRole__category" style="margin-top:10px;">
										<div>{{ '関連カテゴリ'|trans }}</div>
										{% for ProductCategory in Product.ProductCategories %}
										<ul>
											<li>{% for Category in ProductCategory.Category.path %}
												<a
												href="{{ url('product_list') }}?category_id={{ Category.id }}">{{
													Category.name }}</a> {%- if loop.last == false %} <span>＞</span>{%
												endif -%} {% endfor %}
											</li>
										</ul>
										{% endfor %}
									</div>
									{% endif %}
									<form action="{{ url('product_add_cart', {id:Product.id}) }}"
										method="post" id="form1" name="form1">
										{% if Product.stock_find %}
										<div class="ec-productRole__actions">
											{% if form.classcategory_id1 is defined %}
											<div class="ec-select">{{
												form_widget(form.classcategory_id1) }} {{
												form_errors(form.classcategory_id1) }}</div>
											{% if form.classcategory_id2 is defined %}
											<div class="ec-select">{{
												form_widget(form.classcategory_id2) }} {{
												form_errors(form.classcategory_id2) }}</div>
											{% endif %} {% endif %}
											<div class="ec-numberInput">
												<span>{{ '数量'|trans }}</span> {{ form_widget(form.quantity)
												}} {{ form_errors(form.quantity) }}
											</div>
										</div>

										<div class="ec-productRole__btn" style="margin-top:16px;">
											<button type="submit" class="ec-blockBtn--action add-cart">
												{{ 'カートに入れる'|trans }}</button>
										</div>
										{% else %}
										<div class="ec-productRole__btn">
											<button type="button" class="ec-blockBtn--action"
												disabled="disabled">{{ 'ただいま品切れ中です。'|trans }}</button>
										</div>
										{% endif %} {{ form_rest(form) }}
									</form>

									<br>
								</div>
							</div>
						</section>
					</div>
				</div>



				<div id="details_list" >
				       
				        <!--导航开始-->
				        <div class="tab-main large navegator"  data-fixed="pro-detail-hd-fixed">
                <ul >
                    <li data-tab="trigger" data-anchor="#detail" class="current" clstag="shangpin|keycount|product|shangpinjieshao_1">商品詳細</li>

                     <li data-tab="trigger" data-anchor="#detail" clstag="shangpin|keycount|product|pcanshutab" class="">
		     <a href="#product_review_area">みんなの評判</a>
		     </li>

                                                                                                                                          
                                                                               
                                </ul>
               
            </div>

				       <!--导航结束-->

					<div class="text_menu" style="border-top: 1px dashed #afafaf; width: 100%; ">
						{{
							Product.description_detail|raw|nl2br }}
					</div>
				


				</div>
			</div>
		</div>
	</div>
	{% endblock %}